<div class="card border-success mt-2 mb-2">
    <div class="card-header">Add a public comment...</div>
    <div class="card-body">
        <form [formGroup]="formModel" (submit)="onSubmit()">
            <div class="form-group">
                <input formControlName="id" type="hidden">
            </div>
            <div class="form-group">
                <textarea formControlName="content" [class.is-invalid]="_content.invalid && _content.touched"
                    class="form-control form-control-lg" placeholder="Add a public comment..."></textarea>
                <small [class.d-none]="_content.valid || _content.untouched" class="text-danger">Comment is
                    required</small>
            </div>
            <div class="form-group float-right">
                <button [disabled]="formModel.invalid" type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>