<div class="card border-success mt-2 mb-2">
  <div class="card-header">Register</div>
  <div class="card-body">
    <form [formGroup]="formModel" (submit)="onSubmit()">

      <div class="form-group">
        <input formControlName="userName" [class.is-invalid]="_userName.invalid && _userName.touched"
          class="form-control form-control-lg" placeholder="userName...">
        <div *ngIf="_userName.invalid && _userName.touched">
          <label class="text-danger" *ngIf="_userName.errors?.required">{{_userName.errors | json}}</label>
          <label class="text-danger" *ngIf="_userName.errors?.minlength">{{_userName.errors | json}}</label>
        </div>
      </div>

      <div class="form-group">
        <input formControlName="email" [class.is-invalid]="_email.invalid && _email.touched"
          class="form-control form-control-lg" placeholder="email...">
        <div *ngIf="_email.invalid && _email.touched">
          <label class="text-danger" *ngIf="_email.errors?.required">{{_email.errors | json}}</label>
          <label class="text-danger" *ngIf="_email.errors?.email">{{_email.errors | json}}</label>
        </div>
      </div>

      <div class="form-group">
        <input formControlName="phoneNumber" class="form-control form-control-lg" placeholder="phoneNumber...">
      </div>

      <div formGroupName="passwords">

        <div class="form-group">
          <input formControlName="password" [class.is-invalid]="_password.invalid && _password.touched"
            class="form-control form-control-lg" placeholder="password...">
          <div *ngIf="_password.invalid && _password.touched">
            <label class="text-danger" *ngIf="_password.errors?.required">{{_password.errors | json}}</label>
            <label class="text-danger" *ngIf="_password.errors?.minlength">{{_password.errors | json}}</label>
          </div>
        </div>
  
        <div class="form-group">
          <input formControlName="confirmPassword" [class.is-invalid]="_confirmPassword.invalid && _confirmPassword.touched"
            class="form-control form-control-lg" placeholder="confirmPassword...">
          <div *ngIf="_confirmPassword.invalid && _confirmPassword.touched">
            <label class="text-danger" *ngIf="_confirmPassword.errors?.required">{{_confirmPassword.errors | json}}</label>
            <label class="text-danger" *ngIf="_confirmPassword.errors?.passwordMismatch">{{_confirmPassword.errors | json}}</label>
          </div>
        </div>

      </div>
   
      <div class="form-group">
        <input formControlName="fullName" class="form-control form-control-lg" placeholder="fullName...">
      </div>

      <div class="form-group float-right">
        <button [disabled]="formModel.invalid" type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>