<div style="width: 100%; min-height: 500px;">
    <div *ngFor="let blogComment of blogCommentList">
        <div class="card border-primary mt-2 mb-2">
            <div class="card-header">Add a public comment...</div>
            <div class="card-body">
                <div class="form-group">
                    <p class="card-text">{{blogComment.content}}</p>
                </div>
            </div>
            <div>
                <button (click)="onDelete(blogComment.id)" type="button"
                    class="btn btn-danger float-right mr-3 mb-3">Delete</button>
                <button (click)="onEdit(blogComment)" type="button"
                    class="btn btn-info float-right mr-3 mb-3">Edit</button>
            </div>
        </div>
    </div>
</div>